.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvasContainer {
  width: 100%;
  margin: 50px 0;
}

.toolContainer {
  width: 100%;
}

#MILL {
  border: 1px solid black;
}

.add-margin-left-8 {
  margin-left: 8px;
}

.add-margin-right-8 {
  margin-right: 8px;
}

.input-file {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}

.input-file:hover {
  background: #aadffd;
  border-color: #78c3f3;
  color: #004974;
  text-decoration: none;
}
